// 全局样式
/* 阴影 */
@shadow-0: none;
@shadow-1: rgba(0, 0, 0, .05) 0 (1px) (4px), rgba(0, 0, 0, .12) 0 (1px) (2px);
@shadow-2: rgba(0, 0, 0, .12) 0 (1px) (6px), rgba(0, 0, 0, .15) 0 (1px) (4px);
@shadow-3: rgba(0, 0, 0, .15) 0 (3px) (10px), rgba(0, 0, 0, .25) 0 (3px) (10px);
@shadow-4: rgba(0, 0, 0, .188235) 0 (10px) (30px), rgba(0, 0, 0, .227451) 0 (6px) (10px);
@shadow-button: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
@shadow-button-hover: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
.box-shadow(@shadow) {box-shadow: @shadow;  -webkit-box-shadow: @shadow;-moz-box-shadow: @shadow;-ms-box-shadow: @shadow;}
