<div class="bjui-pageHeader">
  <form id="pagerForm" data-toggle="ajaxsearch" action="views/components/table/op/mypaging.html" method="get">
    <input type="hidden" name="pageSize" value="${model.pageSize}">
    <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
    <input type="hidden" name="orderField" value="${param.orderField}">
    <input type="hidden" name="orderDirection" value="${param.orderDirection}">
    <div class="bjui-searchBar">
      <label>所属业务:</label>
      <select name="type" data-toggle="selectpicker">
        <option value="">全部</option>
        <option value="1">联络</option>
        <option value="2">住宿</option>
        <option value="3">餐饮</option>
        <option value="4">交通</option>
      </select>&nbsp;
      <label>护照号：</label><input type="text" id="customNo" value="" name="code" class="form-control" size="10">&nbsp;
      <label>客户姓名：</label><input type="text" value="" name="name" class="form-control" size="8">&nbsp;
      <input type="checkbox" id="j_table_chk" value="true" data-toggle="icheck" data-label="我的客户">
      <button type="button" class="showMoreSearch" data-toggle="moresearch" data-name="custom"><i class="fa fa-angle-double-down"></i></button>
      <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
      <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
      <div class="pull-right">
        <button type="button" class="btn-blue" data-url="ajaxDone2.html?id={#bjui-selected}" data-toggle="doajax" data-confirm-msg="确定要删除选中项吗？" data-icon="remove" title="可以在控制台(network)查看被删除ID">删除选中行</button>&nbsp;
        <div class="btn-group">
          <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">复选框-批量操作<span class="caret"></span></button>
          <ul class="dropdown-menu right" role="menu">
            <li><a href="book1.xlsx" data-toggle="doexport" data-confirm-msg="确定要导出信息吗？">导出<span style="color: green;">全部</span></a></li>
            <li><a href="book1.xlsx" data-toggle="doexportchecked" data-confirm-msg="确定要导出选中项吗？" data-idname="expids" data-group="ids">导出<span style="color: red;">选中</span></a></li>
            <li class="divider"></li>
            <li><a href="ajaxDone2.html" data-toggle="doajaxchecked" data-confirm-msg="确定要删除选中项吗？" data-idname="delids" data-group="ids">删除选中</a></li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="bjui-pageContent bj-page-wrapper-content">
  <div class="bg-white bj-p-20">
    <h3 class="page-header">示例：mypaging， 我的分页演示。</h3>
    <ul>
      <li>第一条信息</li>
      <li>第二条信息</li>
      <li>第三条信息</li>
      <li>第四条信息</li>
      <li>第五条信息</li>
    </ul>
    <h3 class="page-header">示例：mypaging， 我的分页演示。</h3>
    <ul>
      <li>第一条信息</li>
      <li>第二条信息</li>
      <li>第三条信息</li>
      <li>第四条信息</li>
      <li>第五条信息</li>
    </ul>
    <h3 class="page-header">示例：mypaging， 我的分页演示。</h3>
    <ul>
      <li>第一条信息</li>
      <li>第二条信息</li>
      <li>第三条信息</li>
      <li>第四条信息</li>
      <li>第五条信息</li>
    </ul>
    <h3 class="page-header">示例：mypaging， 我的分页演示。</h3>
    <ul>
      <li>第一条信息</li>
      <li>第二条信息</li>
      <li>第三条信息</li>
      <li>第四条信息</li>
      <li>第五条信息</li>
    </ul>
    <h3 class="page-header">示例：mypaging， 我的分页演示。</h3>
    <ul>
      <li>第一条信息</li>
      <li>第二条信息</li>
      <li>第三条信息</li>
      <li>第四条信息</li>
      <li>第五条信息</li>
    </ul>
    <h3 class="page-header">示例：mypaging， 我的分页演示。</h3>
    <ul>
      <li>第一条信息</li>
      <li>第二条信息</li>
      <li>第三条信息</li>
      <li>第四条信息</li>
      <li>第五条信息</li>
    </ul>
    <h3 class="page-header">示例：mypaging， 我的分页演示。</h3>
    <ul>
      <li>第一条信息</li>
      <li>第二条信息</li>
      <li>第三条信息</li>
      <li>第四条信息</li>
      <li>第五条信息</li>
    </ul>
    <h3 class="page-header">示例：mypaging， 我的分页演示。</h3>
    <ul>
      <li>第一条信息</li>
      <li>第二条信息</li>
      <li>第三条信息</li>
      <li>第四条信息</li>
      <li>第五条信息</li>
    </ul>
    <h3 class="page-header">示例：mypaging， 我的分页演示。</h3>
    <ul>
      <li>第一条信息</li>
      <li>第二条信息</li>
      <li>第三条信息</li>
      <li>第四条信息</li>
      <li>第五条信息</li>
    </ul>
  </div>
</div>
<div class="bjui-pageFooter">
  <div class="pages">
    <span>每页&nbsp;</span>
    <div class="selectPagesize">
      <select data-toggle="selectpicker" data-toggle-change="changepagesize">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <span>&nbsp;条，共 600 条</span>
  </div>
  <div class="pagination-box" data-toggle="pagination" data-total="600" data-page-size="20"
       data-page-current="1"></div>
</div>
