<div class="bjui-pageContent">
  <div class="bj-p-20 bg-white">
    <h3 class="page-header">xe-utils 函数库 工具类</h3>
  </div>
  <div class="bj-m-10 bj-p-20 bg-white">
    系统内置了xe-utils库，可全局使用 <code>XEUtils</code>，文档可查看<a href="https://x-extends.gitee.io/xe-utils/#/" target="_blank">https://x-extends.gitee.io/xe-utils/#/</a>,
    github地址<a href="https://github.com/x-extends/xe-utils" target="_blank">https://github.com/x-extends/xe-utils</a>

    <script type="text/plain" class="language-js line-numbers">
    XEUtils.isNumber(1)
  </script>
  </div>


</div>
