@charset "utf-8";
@import "variables";

body{
  -webkit-transition: background 1s cubic-bezier(.075, .82, .165, 1);
  transition: background 1s cubic-bezier(.075, .82, .165, 1);
}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/* ------------- bootstrap ------------- */

.table > thead > tr > th.orderby a.order{color:#CCC;}
.table > thead > tr > th.orderby.asc a.order.asc,
.table > thead > tr > th.orderby.desc a.order.desc,
.table > thead > tr > th.orderby a.order:hover{color:#fff!important; background:@coreColor;}

.table > tbody > tr.selected > td{
  --tblr-table-accent-bg: #d9e7f2;
}


/* Main */
#bjui-footer {
  border-top: 1px solid #c3ced5;
}

/* Pages */
.bjui-pageHeader{
  border-bottom:1px #c3ced5 solid;
  .bjui-moreSearch{
    background: #fff;
  }
  .showMoreSearch:hover{color:@coreColor;}
}
.bjui-pageFooter{
  border-top:1px #c3ced5 solid;
}
.bjui-pageContent {
  padding-top: 5px;
}
/* MaskProgress */
.bjui-maskProgress{color:#222; background:#fafafa; border:2px solid #c3ced5;}
/* 遮罩 */
.bjui-dialog-wrap {
  .bjui-dialogBackground {
    background: rgba(0, 0, 0, 0.5);
  }
}
/* Navtab */
#bjui-navtab {

  -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);

  > .tabsPageHeader {

    color: rgba(0, 0, 0, 0.87);
    .box-shadow(@shadow-2);


    .tabsLeft, .tabsRight {
      background-color: #f3f8fc;
      border: 1px #c3ced5 solid;

      &:hover {
        color: #f3f8fc;
        background-color: #222;
      }

      &.tabsLeftDisabled {
        color: #999;
        border-color: #c3ced5;
        border-bottom-color: #c3ced5;

        &:hover {
          background: #f3f8fc;
        }
      }
    }

    .tabsMore {
      background-color: #f3f8fc;
      border: 1px #c3ced5 solid;

      &:hover {
        color: #f3f8fc;
        background-color: #222;
      }
    }

    > .tabsPageHeaderContent {

      > .nav {
        // 头部tab样式
        > li {
          color: rgba(0, 0, 0, 0.54);

          > a {
            color: #222;
            border: none;
            background-color: transparent;
          }

          // 选中tab样式
          &.active {
            border-bottom: 1px solid @coreColor;

            > a {
              color: @coreColor;
            }
          }
        }
      }
    }
  }

  > .tabsMoreList {
    background:#fff;
    border-color:#c3ced5;
    .box-shadow(@shadow-2);

    li {
      a {
        color: #222;
        &:hover {
          background:#d9e7f2;
          color: @coreColor;
        }
      }

      &.active > a {
        background: #f3f8fc;
        font-weight:bold;
        color: @coreColor;
      }
    }
  }

  // tab内容样式
  > .tabsPageContent {
    background:#fff;
    border: none;
    margin-top: 4px;
  }

}

/* Dialog */
.bjui-dialog {
  background:#fff;

  &.dialogShadow {
    .box-shadow(@shadow-3)
  }

  > .dialogHeader {

    a {
      color:#222 !important;

      &:hover {
        color:@coreColor !important;
      }
    }

    h1 {
      color:#222;
    }
  }

  > .dialogContent {
    margin: 0;
    .bjui-pageHeader {
      margin-bottom:0;
      border:none;
    }
    .bjui-pageContent {
      background-color:#fff;
    }

    .bjui-pageFooter {
      bottom: 0;
      padding-bottom: 4px;
      border:none;
    }
  }

}

/* Dialog resizable */
.bjui-resizable{border-color:#c3ced5; background:#f3f8fc;}
/* Taskbar */

#bjui-taskbar {
  background:@coreColor;

  > .taskbarContent {
    > ul > li {
      background:#f3f8fc;

      > .taskbutton {
        color:#222;
      }

      &.selected, &:hover {
        background:#d9e7f2;

        .taskbutton {
          color:@coreColor;
        }
      }

      .close {
        color:#c3ced5;

        :hover {
          color:#ff0000;
        }
      }

    }
  }

  .taskbarLeft, .taskbarRight{background:#f3f8fc;}
  .taskbarLeft:hover, .taskbarRight:hover{color:#fff; background:#222;}
  .taskbarLeft.disabled,  .taskbarRight.disabled{color:#999; background:#f3f8fc;}
  .taskbarLeft.disabled:hover,.taskbarRight.disabled:hover {color:#999; background:#f3f8fc;}
}
/* Tablefixed */
.bjui-tablefixed > .resizeMarker,
.bjui-tablefixed > .resizeProxy{background:#c3ced5;}
/* Tabledit */
.bjui-tabledit > thead .row-add:hover{color:#fff; background:#222;}
/* Alertmsg */
.bjui-alert {
  background:#fff;
  padding: 0;
  .box-shadow(@shadow-3);
  .alertContent {
    .alertInner {
      border: 0;
      > h1 {
        border: 0!important;
        background: #d9e7f2;
      }
      > .msg {
        border-top: 1px #fefefe solid;
      }
    }
    .toolBar {
      margin-top: 0;
      > ul {
        list-style-type: none;
        margin-bottom: 5px;
        margin-right: 5px;
      }
    }
  }
}
/* Contextmenu */
#bjui-contextmenu ul{background-color:#fff; border:1px solid #c3ced5;}
#bjui-contextmenu li{color:#222; background-color:transparent;}
#bjui-contextmenu li:hover{background-color:#d9e7f2;}
#bjui-contextmenu li.disabled{color:#999;}
#bjui-contextmenu li.disabled:hover{cursor:default; background-color:transparent;}
#bjui-contextmenu li.diver{ border-left:none; border-right:none;}
#bjui-contextmenu li.diver:hover{background-color:transparent !important; cursor:default;}
/* Spinner */
.bjui-spinner{border-left-color:#ccc;}
.bjui-spinner .up, .bjui-spinner .down{color:@coreColor;}
.bjui-spinner .up:hover, .bjui-spinner .down:hover{color:#fff; background:#222;}
/* Lookup */
.bjui-lookup:hover{color:#fff; background:#222;}
/* Upload */
.bjui-upload > .queue > .item{background-color:#f3f8fc;}

/* ------- plugins ------- */
/* zTree */
.ztree li a.faicon{color:#222;}
.ztree li a:hover{color:@coreColor;}
span.tmpzTreeMove_arrow,.ztree .tree_add, .ztree .tree_del,
.ztree li span.button{
  background-image:url(zTreeStandard.png);
}
.ztree li a.curSelectedNode{
  background-color:#d9e7f2;
  color: @coreColor;
  border:1px #c3ced5 solid;
}
.ztree li a.curSelectedNode_Edit{background-color:#d9e7f2; color:black; border:1px #c3ced5 solid;}
.ztree li a.tmpTargetNode_inner{background-color:#d9e7f2; color:white; border:1px #c3ced5 solid;}
ul.ztree.zTreeDragUL{background-color:#cfcfcf; border:1px #c3ced5 dotted;}
ul.tmpTargetzTree{background-color:#d9e7f2;}

/* uploadify */
.uploadify-button{color:#222 !important; background-color:#f3f8fc !important; border-color:#c3ced5 !important;}
.uploadify:hover .uploadify-button{color:#fff !important; background-color:#c3ced5 !important; border-color:#c3ced5 !important;}
