
// button 样式
@mixin button-variant($color, $background) {
  color: $color;
  background-color: $background;
  border-color: rgba($color, .5);

  &:active, &.active, &:hover {
    border-color: $color;
    background-color: rgba($color, .08);
  }

  &:focus, &.focus {
    box-shadow: 0 0 0 0 rgba(lighten($color, .1), .5);
  }
}

@mixin button-variant-bs($color) {
  color: #fff;
  background-color: $color;
  border-color:rgba($color, .5);

  &:active, &.active, &:hover {
    border-color: $color;
    background-color: darken($color, .08);
  }

  &:focus, &.focus {
    box-shadow: 0 0 0 0 rgba(lighten($color, 10%), .5);
  }
}


/* button */
.btn {

  &.btn-tag {
    position: relative;
    padding: 3px 6px;
    text-shadow: 0 1px 0 #FFF;
  }

  &.btn-default {
    &:active, &.active, &:hover, &:focus {
      background-color: fade($black, 8%);
    }
  }

  &.btn-close, &.btn-red {
    @include button-variant($red, #fff);
  }

  &.btn-green {
    @include button-variant($green, #fff);
  }

  &.btn-blue {
    @include button-variant($blue, #fff);
  }

  &.btn-orange {
    @include button-variant($orange, #fff);
  }

  &[b-shadow] {
    @include box-shadow($shadow-button);

    &:active, &.active, &:hover, &:focus {
      @include box-shadow($shadow-button-hover);
    }
  }

}
