.bjui-navtab-content {
  > .bjui-pageFooter {
    border-top: 1px solid #eee;
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - #{$sidebar-width});
    background: #fff;
    z-index: 10;
    transition: $sidebar-transition;
  }
}
