.bjui-pageFooter {
  padding: 5px 0;

  .pagination-box {
    ul {
      li {
        a, span {
          padding: 5px 12px;
        }

        a {
          border-radius: 4px;

          &:hover {
            background-color: rgba(0, 0, 0, 0.06);
          }
        }

        .p-input {
          .input-sm-pages {
            height: auto;
            padding: 4px 0 4px 6px;
          }
        }
      }

      .selected {
        a, span{
          background-color: #0054a6;
        }
      }
    }
  }

  .pagination {
    li {
      a, span {
        color: #667382;
      }
    }

    .disabled {
      a, span {
        color: #777;
      }
    }
  }

  .pages {
    span {
      line-height: 30px;
    }

    .selectPagesize {
      padding-top: 0;

      .btn-group {
        .btn {
          padding: 4px 5px;
          border-radius: 4px;
          height: auto;
        }
      }
    }
  }
}
