<div class="bjui-pageContent">
  <div class="bj-p-20 bg-white">
    <h3>感谢名单</h3>
    <div class="mb-2">本项目在B-JUI框架基础上升级并整合了各种优秀的开源项目，非常感谢这些项目。</div>
  </div>
  <div class="bj-page-wrapper-content">
    <div class="list-group">
      <a href="https://gitee.com/xknaan/B-JUI" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        B-JUI
      </a>
      <a href="https://getbootstrap.com/" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        Bootstrap
      </a>
      <a href="https://jquery.com/" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        jQuery
      </a>
      <a href="https://github.com/zTree/zTree_v3" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        zTree
      </a>
      <a href="https://github.com/jackmoore/autosize" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        autosize
      </a>
      <a href="https://github.com/itsjavi/bootstrap-colorpicker" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        bootstrap-colorpicker
      </a>
      <a href="https://github.com/snapappointments/bootstrap-select" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        bootstrap-select
      </a>
      <a href="https://github.com/flatpickr/flatpickr" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        flatpickr
      </a>
      <a href="https://github.com/niceue/nice-validator" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        nice-validator
      </a>
      <a href="https://github.com/lokesh-coder/pretty-checkbox" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        pretty-checkbox
      </a>
      <a href="https://github.com/sindresorhus/screenfull.js" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        screenfull
      </a>
      <a href="https://github.com/idiotWu/smooth-scrollbar" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        smooth-scrollbar
      </a>
      <a href="https://github.com/x-extends/xe-utils" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
        xe-utils
      </a>
    </div>
  </div>
</div>
