<div class="bjui-pageContent bj-page-wrapper-content">
  <div class="bj-p-20 bg-white">
    <div>
      <div style="padding: 0 15px;">
        <h4 style="margin-bottom:20px;">
          B-JUI Next
          <!--          <a href="https://github.com/JZaaa/B-JUI/blob/master/CHANGELOG.md" target="_blank"><span-->
          <!--            class="label label-primary">更新日志</span></a>-->
          <a href="https://github.com/JZaaa/B-JUI" target="_blank"
             style="color: #000;font-size: 16px"><i class="bi-github" aria-hidden="true"></i></a>
          <span class="bj-font-12 text-muted">文档版本 <code data-filter="version"></code></span>
        </h4>
      </div>
    </div>
  </div>

  <div class="card bj-m-t-20">
    <div class="card-body">
      <h5 class="card-title">项目简介</h5>
      <h6 class="card-subtitle mb-2 text-muted">本项目在B-JUI框架基础上升级开发</h6>
      <div class="card-text">
        <ul>
          <li>- 依赖jQuery3，Bootstrap4</li>
          <li>- 更现代化的页面布局</li>
          <li>- 重构目录结构，目录更清晰</li>
          <li>- <code>yarn</code>包管理器，更易开发</li>
          <li>...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    var version = BJUI.version
    $.CurrentNavtab.findFilter('version').text(version)
  })
</script>
