<div class="bjui-pageContent bj-page-wrapper-content">
  <div class="bg-white bj-p-20">
        <h3 class="page-header">框架初始化</h3>
        <blockquote>
            <p>本节介绍B-JUI框架的初始化方法。<code>初始化方法需要在主页面DOM加载完成后执行</code></p>
        </blockquote>
        <p>示例代码如下：</p>
        <script type="text/plain" class="language-js line-numbers">
            $(function() {
                BJUI.init({
                    menus: {
                      menusData: [], // 菜单数据，Array或者Url，设置为url则会自动请求接口
                      callback: null // ajax方式获取菜单数据的请求回调
                    },
                    JSPATH       : 'BJUI/',         //[可选]框架路径
                    PLUGINPATH   : 'BJUI/plugins/', //[可选]插件路径
                    loginInfo    : {url:'login_timeout.html', title:'登录', width:400, height:200}, // 会话超时后弹出登录对话框
                    statusCode   : {ok:200, error:300, timeout:301}, //[可选] ajax回调函数的状态码
                    ajaxTimeout  : 50000, //[可选]全局Ajax请求超时时间(毫秒)
                    dialog       : {  // [可选]dialog全局配置
                        mask: false, // 遮罩层
                        width: 500, // 宽
                        height: 300 // 高
                    },
                    pageInfo     : {total:'total', pageCurrent:'pageCurrent', pageSize:'pageSize', orderField:'orderField', orderDirection:'orderDirection'}, //[可选]分页参数key
                    alertMsg     : {displayPosition:'topcenter', displayMode:'slide', alertTimeout:3000}, //[可选]信息提示的显示位置，显隐方式，及[info/correct]方式时自动关闭延时(毫秒)
                    keys         : {statusCode:'statusCode', message:'message'}, //[可选] ajax回调函数的key
                    ui           : {
                                     clientPaging     : true //[可选]是否在客户端响应分页及排序参数
                                    },
                    debug        : false,    // [可选]调试模式 [true|false，默认false]
                    // kindEditor插件全局配置 v1.1.7+
                    KindEditor: {
                      uploadJson: undefined,
                      fileManagerJson: undefined
                    }
                })
            })
        </script>
    </div>
</div>

