<div class="bjui-pageContent bj-page-wrapper-content">
  <div class="bg-white bj-p-20">
    <h3 class="page-header">标签工作区(navtab)</h3>
    <blockquote>
      <p>B-JUI框架的整个工作区部分就是一个navtab组件，本组件位于主页面的"<code>#bjui-app-layout-content</code>"容器内，固定的html结构如下：
      </p>
    </blockquote>
    <script type="text/plain" class="language-markup line-numbers">
            <main id="bjui-app-layout-content" class="bjui-app-layout-content">
              <div class="navtabPage unitBox bjui-navtab-content">
                 <!-- 主页内容 -->
              </div>
            </main>
    </script>
  </div>
</div>

