<div class="bjui-pageContent bj-page-wrapper-content">
  <div class="bg-white bj-p-20">
    <h3 class="page-header">页面结构</h3>
    <blockquote>
      <p>B-JUI仅有一个主页面(document)，框架内的所有子页面将通过Ajax获取后作为一个页面片段附加到主页面上，外部页面则通过iframe嵌入主页面， 本节介绍
        B-JUI的主页面结构。</p>
    </blockquote>
    <h4>HTML5 文档类型</h4>
    <blockquote>
      <p>同Bootstrap， B-JUI使用 HTML5 文档类型，参照下面的格式进行设置。</p>
    </blockquote>
    <script type="text/plain" class="language-markup line-numbers">
             <DOCTYPE html>
                  <html lang="zh-CN">
                    ...
                  </html>

    </script>
    <h4>主页面结构(仅body部分)</h4>
    <blockquote>
      <p>主页面由导航菜单、工作区、header组成。结构如下：</p>
    </blockquote>
    <script type="text/plain" class="language-markup line-numbers">
    <!-- 主框架 -->
   <section class="bjui-app-layout">
      <!-- 导航栏区 -->
      <aside id="bjui-menu" class="bjui-sidebar bjui-sidebar__fixed">
        <div class="sidebar-content">
          <!-- Logo区 -->
          <a class="sidebar-brand text-center" href="index.html">
            <span class="align-middle">BJUI NEXT</span>
          </a>
          <!-- 菜单内容区 -->
          <div id="bjui-menu-nav">
          </div>

        </div>
      </aside>
      <!-- 主要内容区 -->
      <section id="bjui-app-layout-main" class="bjui-app-layout-main">
        <!-- header区 -->
        <div id="bjui-app-layout-header" class="bjui-app-layout-multi-header bjui-app-layout-multi-header--fixed">
          <header class="bjui-app-layout-header">
            <!-- header左侧 -->
            <div class="bjui-app-layout-header-left">
              <a class="bjui-sidebar-toggle">
                <i class="bi-list"></i>
              </a>
            </div>

            <!-- header右侧 -->
            <div class="bjui-app-layout-header-right">
              <!-- header右侧具体内容 -->
              <div class="bjui-app-layout-header-right__item dropdown">
                ...
              </div>
            </div>
          </header>
        </div>
        <!-- header占位区 -->
        <div class="bjui-app-layout-multi-header-placeholder"></div>
        <!-- 工作区(navtab) -->
        <main id="bjui-app-layout-content" class="bjui-app-layout-content">

        </main>
      </section>
  </section>

    </script>
    <h4>子页面（即页面片段[后面简称：页片]）标准结构</h4>
    <blockquote>
      <p>页片通常由三部分组成，也可以只保留bjui-pageContent部分。一个标准的页片结构如下：</p>
    </blockquote>
    <script type="text/plain" class="language-markup line-numbers">
            <div class="bjui-pageHeader">
                <!-- 顶部模块[如：功能按钮、搜索面板] -->
            </div>
            <div class="bjui-pageContent">
                <!-- 内容区 -->
            </div>
            <div class="bjui-pageFooter">
                <!-- 底部模块[如：工具条、分页组件]  -->
            </div>

    </script>
    <blockquote class="point">
      <p><strong>注意1：</strong>在标准结构中，<code>bjui-pageHeader</code> 和 <code>bjui-pageFooter</code>
        部分是固定在页片中的，<code>bjui-pageContent</code>中的内容溢出会出现滚动条。</p>
      <p><strong>注意2：</strong>仅存在<code>bjui-pageContent</code>，内容将会静态定位。添加<code>[class="full-page"]</code>将会使内容全屏，并切换为 absolute 定位</p>
    </blockquote>
  </div>
</div>
