.bj-full-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 242, 245, 0.4);

  &.absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
  }

  .spinner {
    position: static;
    display: inline-block;
    opacity: 1;
    color: #0960bd;
    text-align: center;
    vertical-align: middle;
  }

  .spinner-border {
    margin-bottom: 10px;
  }
}
.bjui-dialog {
  > .bj-full-loading {
    &.absolute {
      top: 28px;
    }
  }
}
