<div class="form-pageContent">
  <form class="pageForm form-validate">
    <div class="bg-white bj-p-20" style="margin:15px auto 0; width:800px;">
      <fieldset>
        <legend>复选、单选框</legend>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>样例</th>
            <th>属性</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><input type="checkbox" name="checkbox" value="1" data-toggle="icheck"
                       data-label="复选框"></td>
            <td>data-toggle="icheck" data-label="复选框"</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox" value="1" data-toggle="icheck"
                       data-label="已选中复选框" checked></td>
            <td>data-toggle="icheck" data-label="已选中复选框" checked</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox" value="1" data-toggle="icheck"
                       data-label="已禁用复选框" disabled></td>
            <td>data-toggle="icheck" data-label="已禁用复选框" disabled</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="checkbox" value="1" data-toggle="icheck"
                       data-label="已选中已禁用复选框" checked disabled></td>
            <td>data-toggle="icheck" data-label="已选中已禁用复选框" checked disabled</td>
          </tr>
          <tr>
            <td><input type="radio" name="radio1" value="1" data-toggle="icheck" data-label="单选框">
            </td>
            <td>data-toggle="icheck" data-label="单选框"</td>
          </tr>
          <tr>
            <td><input type="radio" name="radio2" value="1" data-toggle="icheck" data-label="已选中单选框"
                       checked></td>
            <td>data-toggle="icheck" data-label="已选中单选框" checked</td>
          </tr>
          <tr>
            <td><input type="radio" name="radio2" value="1" data-toggle="icheck" data-label="已禁用单选框"
                       disabled></td>
            <td>data-toggle="icheck" data-label="已禁用单选框" disabled</td>
          </tr>
          <tr>
            <td><input type="radio" name="radio3" value="1" data-toggle="icheck"
                       data-label="已选中已禁用单选框" checked disabled></td>
            <td>data-toggle="icheck" data-label="已选中已禁用单选框" checked disabled</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="switch" value="2" data-switch="true"
                       data-toggle="icheck" data-label="切换"></td>
            <td>data-switch="true" data-toggle="icheck" data-label="切换"</td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="alert alert-info form-inline"><i class="fa fa-warning"></i> <strong>复选、单选框的Label：</strong>直接添加<strong>[data-label]</strong>属性，可自动添加上Label。
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </fieldset>
    </div>
  </form>
</div>
<script>
  (function() {
    $.CurrentNavtab.find('[name="checkbox"]').on('change', function() {
      console.log($(this).is(':checked'))
    })
  }())
</script>
