<div class="bjui-pageContent bj-page-wrapper-content">
  <div class="bg-white bj-p-20">
    <h3 class="page-header">日期选择器</h3>
    <blockquote>
      <p>本节主要介绍框架的日期选择器组件，组件由<a href="https://github.com/flatpickr/flatpickr" target="_blank">flatpickr</a>封装
      </p>
    </blockquote>
    <h4>初始化</h4>
    <ul>
      <li>Data属性：input添加属性<code>data-toggle="datepicker"</code>。
        <span class="label label-default">DOM示例：</span>
        <p>
          <input data-filter="datepicker" type="text" data-toggle="datepicker">
          <input data-filter="datepicker1" type="text" data-toggle="datepicker" data-mode="range" style="width: 230px">
        </p>
        <p>示例代码：</p>
        <script type="text/plain" class="language-markup line-numbers">
            <input type="text" data-toggle="datepicker">
            <input data-filter="datepicker1" type="text" data-toggle="datepicker" data-mode="range" style="width: 230px">
        </script>
      </li>
      <li>jQuery API：<code>options为空时，默认初始化为当前日期</code><br>
        <script type="text/plain" class="language-js line-numbers">
                    $(input).datepicker(options) // datepicker 实例化
                    $(input).flatpickr(options) // flatpickr 原生实例化
        </script>
      </li>
    </ul>
    <h4>参数（options）</h4>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>名称</th>
        <th>类型</th>
        <th>默认值</th>
        <th>描述</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>flatpickr参数</td>
        <td></td>
        <td></td>
        <td><a href="https://flatpickr.js.org/options/" target="_blank">点击查看</a></td>
      </tr>
      <tr>
        <td>dateFormat</td>
        <td>String</td>
        <td>Y-m-d</td>
        <td><span class="badge badge-info">flatpickr参数</span>
          [可选] 日期格式（Y=年， m=月，d=日，H=时，i=分，S=秒）
          <a href="https://flatpickr.js.org/formatting/" target="_blank">详情</a></td>
      </tr>
      <tr>
        <td>defaultDate</td>
        <td>String</td>
        <td>null</td>
        <td>
          <span class="badge badge-info">flatpickr参数</span>
          [可选] 设置初始日期，如果设置为<code>mode: "multiple"</code>或者为范围日期，需提供<code>Array</code>的Date对象或者日期字符串数组，否则提供单个Date对象或者日期字符串
        </td>
      </tr>
      <tr>
        <td>maxDate</td>
        <td>String/Date</td>
        <td>null</td>
        <td>
          <span class="badge badge-info">flatpickr参数</span>
          [可选] 用户可以选择的最大日期
        </td>
      </tr>
      <tr>
        <td>minDate</td>
        <td>String/Date</td>
        <td>null</td>
        <td>
          <span class="badge badge-info">flatpickr参数</span>
          [可选] 用户可以开始挑选的最小日期
        </td>
      </tr>
      <tr>
        <td>mode</td>
        <td>String</td>
        <td>single</td>
        <td><span class="badge badge-info">flatpickr参数</span> 模式，支持"single", "multiple", or "range"</td>
      </tr>
      <tr>
        <td>enableTime</td>
        <td>Boolean</td>
        <td>false</td>
        <td><span class="badge badge-info">flatpickr参数</span> 启用时间选择器</td>
      </tr>
      <tr>
        <td>enableSeconds</td>
        <td>Boolean</td>
        <td>false</td>
        <td><span class="badge badge-info">flatpickr参数</span> 在时间选择器中启用秒</td>
      </tr>
      </tbody>
    </table>
    <h4>事件</h4>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>事件名称</th>
        <th>中文说明</th>
        <th>描述</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>onChange</td>
        <td>日期选择后的事件</td>
        <td>在每个日期选择时触发的函数</td>
      </tr>
      </tbody>
    </table>
    <p><span class="badge badge-info">仅selecpicker实例化可用</span> 监听事件：<code>mydate - selector</code>表示触发日期选择的选择器</p>
    <script type="text/plain" class="language-js line-numbers">
        $(function() {
          $.CurrentNavtab.findFilter('datepicker').on('afterchange.bjui.datepicker', function(event, selectedDates, dateStr, instance) {
            console.log(selectedDates)
            console.log(dateStr)
            console.log(instance)
          })
        })
    </script>
    <p><span class="badge badge-info">仅selecpicker实例化可用</span> 获取 flatpickr 实例：<code>mydate - selector</code>表示触发日期选择的选择器</p>
    <script type="text/plain" class="language-js line-numbers">
        $(function() {

          const datepicker = $.CurrentNavtab.findFilter('datepicker').data('bjui.datepicker')
          if (datepicker) {
            console.log(datepicker._flatpickr) // flatpickr实例
          }
        })
    </script>
  </div>
</div>
<script>
  $(function() {
    $.CurrentNavtab.findFilter('datepicker').on('afterchange.bjui.datepicker', function(event, selectedDates, dateStr, instance) {
      console.log(selectedDates)
      console.log(dateStr)
      console.log(instance)
    })


    const datepicker = $.CurrentNavtab.findFilter('datepicker').data('bjui.datepicker')
    if (datepicker) {

    }
  })
</script>
